body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #fff8f1;
    color: #2c2c2c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #7c7a78;
}

nav a:active {
    background-color: #bbb5b2;
}

.categories {
    text-decoration: underline;
    background-color: #eccfb2;
}

.about:active {
    background-color: #333;

    color: white;
}

.search-box {
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px 70px;
    justify-items: center;
}

.animal-button {
    border: 1px solid #000;
    border-radius: 25px;
    padding: 20px;
    width: 380px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.animal-button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px 1px rgb(83, 91, 94);
}

.animal-button img {
    height: 150px;
}

.animal-button h2 {
    margin: 10px 0 5px;
}

.animal-button p {
    margin: 0;
    font-style: italic;
    font-size: 16px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    flex: 1;
}

.search-btn {
    border: none;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    padding: 4px 8px;
}

.search-btn:hover {
    color: blue;
}

.search-btn:active {
    color: rgb(0, 82, 0);
}
